@{
    ViewBag.Title = "Bugged Code";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("BuggedCode", "Home", FormMethod.Get))
{
    <div class="form-group">
        <label for="number">Type a number:</label>
        <input class="form-control" id="number" name="number">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <p>@ViewBag.Message</p>   
}